body {
    margin: 10px;
}

li {
    font-size: medium;
}

div.panel-heading {
   font-size: medium;

}

/* navbar */
.navbar-default {
    background-color: #337AB7;
    /*background-color: #E71831*/
    box-shadow: inset 0px 2px 0px #E71831;
    /*height: 80px;*/
}

/* title */
.navbar-default .navbar-brand {
    color: #F8F8F8;
    font-size: x-large;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F8F8F8;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #F8F8F8;
}


.navbar-default .navbar-nav > li > a:focus {
    /*color: #337AB7;*/
    color: #F8F8F8;
}

/*
.navbar-default .navbar-nav > li > a:hover {
    color: #E71831;
}
*/
